ion-header {
  ion-toolbar {
    --padding-start: 1.5rem;
    --padding-end: 1.5rem;
    --padding-top: 1rem;
    --padding-bottom: 1rem;
    .title{
      margin: 0;
    }
    ion-avatar{
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

ion-content {
  .banners{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .circle {
      padding: 2rem;
      height: 90%;
      width: 65%;
      background: linear-gradient(120.67deg, #9ed4b0 17.45%, rgba(162, 167, 127, 0.09) 105.58%);
      border-radius: 50rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .transactions {
    margin-top: 1.5rem;
    border-radius: 3rem 3rem 0 0;
    padding: 1rem;
    min-height: 45vh;
    width: 100%;
    background-color: var(--ion-color-light);

    .header{
      padding: 0;
    }

    ion-segment {
      --background: var(--ion-color-primary);
      margin: 1rem 0;
      .segment-button-checked{
        color: var(--ion-color-primary);
      }
    }

    ion-list{
      background-color: var(--ion-color-light);
      ion-item{
        border-bottom: .15rem dashed var(--ion-color-primary);
        .item-value{
          width: 100%;
          p{
            margin: 0 0 1rem;
            font-size: x-small;
            color: var(--ion-color-dark);
          }
        }
      }
    }
  }
}